ul.hats {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1rem;
}

ul.hats article {
  margin: 0;
  height: 100%;
}

ul.hats a {
  text-decoration: none;
}

ul.hats img,
article img {
  max-width: 100%;
  height: auto;
}

.hp {
  display: none;
}

.error {
  color: var(--pico-del-color);
}

body > footer {
  color: var(--pico-muted-color);
  border-top: 1px solid var(--pico-muted-border-color);
}
